header{
    width: 100%;
}

dl dt{
    background-color: #CE0C1A;
    border-radius: 5px;
    color: bisque;
    padding: 1%;
}

body h2{
    background-color: #CE0C1A;
    border-radius: 3px;
    color: bisque;
    padding: 2%;
}

.customer-review h2{
    background-color: #CE0C1A;
    color: bisque;
}


#cusFeed{
    height: 100px;
    width:68%;
    border-radius: 20px;
    border-color: #CE0C1A;
}

label{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 1%;
}

input, select{
    border-radius: 20px;
    border-color: #CE0C1A;
    width: 68%;
}

button{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 20px;
    background-color: #CE0C1A;
    color: whitesmoke;
}

#customer-container {
    background-color: rgba(240, 153, 38, 0.432);
    border: 0.1px solid #CE0C1A;
    border-radius: 25px;
}

button:hover{
    background-color: #ee0e1d;
    color: bisque;
    transform: scale(1.1);
    transition: all 0.25s ease-out;
}

body p{
    border: #CE0C1A solid 1px;
    border-radius: 5px;
    padding: 1%;
}

